	<input type="text" [(ngModel)]="name">

	<div>{{name}}</div>

	<h3>i am in the app component</h3>


<p>The srver id is {{serverId}} and it is {{ getServerStatus() }}</p>

<input type="text" class="form-control" (input)="onUpdateServerName($event)">

<p>OR use the below line for two way binding</p>

<input type="text" class="form-control" [(ngModel)]="serverName">


<p>{{serverName}}</p>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<p>{{allowNewServer}}</p>
or
<p [innerText]="allowNewServer"></p>

<!--<p>{{serverCreationStatus}}</p>-->

<p *ngIf="serverCreated; else noServer" >Server was created, server name is {{serverName}}</p>
<ng-template #noServer>
	<p>No server is created</p>
</ng-template>

<p [ngStyle]="{'background-color': getColor()}" [ngClass]="{online: serverStatus === 'online'}">Server Status</p>

<p>{{serverStatus}}</p>

<app-servers></app-servers>

<ul *ngFor="let server of servers">
	<li>{{server}}</li>
</ul>